/* :root{
    --primary-black: #352f44;
} */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Alegreya', serif;
   
}   

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}


.title{
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}

.card{
    width: 400px ;
    height: 300px;
    background: black;
}

#task1{
    background:#5d3a3a;
}
#task1 > p {
    width:50%;
    height: 66.6%;
    background: #B5E0BA
}
 
#task2 {
    display: grid;
    grid-template: "p p";
    grid-column-gap:201px ;
    grid-row-gap:15px ;
    justify-content:center;
    align-items:center;
    background:#62374e
}

#task2 > p {
    width: 50px;height: 50px;background: #fdc57b
}


#task3 {
    display:grid;
    place-items:center;
    background: #6592CF;
    z-index: 1;
}

#task3 > p {
    width:50px;
    height:50px;
    background:#EEB850;
    place-items: center;
    display: grid;
    box-shadow:0 0 0px 50px #6592CF;
    border:50px solid #243D83;
    border-radius:100%;
}

#task3 > p::before{
    content:"";
    position:absolute;
    z-index: -1;
    width:300px;
    height:150px;
    background:#243D83
}

#task4 {
    display:grid;
    place-items:center;
    background: #62306D;
}

#task4 > p {
    width: 101px;
    height: 101px;
    margin-bottom:115px;
    border-radius:100% 100% 0 0;
    background:#F7EC7D
}

#task4 >p::before{
    content:"";
    position:absolute;
    width: 100px;
    height: 101px;
    margin: 100px;
    border-radius:0 0 100% 100%;
    background: #F7EC7D
  }

  #task4 > p::after{
    content:"";
    position:absolute;
    width: 100px;
    height: 101px;
    margin: 100px 0 100px -100px;
    border-radius:0 0 100% 100%;
    background: #F7EC7D;
  }

/*
    https://www.csscolorpalettes.com/palettes/1440 
    https://www.csscolorpalettes.com/palettes/1623 
*/